/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f5f1e6;
  color: #333;
  line-height: 1.6;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background: #1a1a1a;
  color: #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff8c42;
  letter-spacing: 1px;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  font-size: 14px;
  position: relative;
  transition: 0.3s;
}

/* efeito underline elegante */
nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff8c42;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  url('assets/paes_background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  font-family: 'Playfair Display', serif;
}

.hero h1 {
  font-size: 82px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.hero p {
  margin-bottom: 25px;
  font-size: 18px;
  opacity: 0.95;
}

/* BOTÃO */
.btn {
  background: #ff8c42;
  color: #fff;
  padding: 14px 24px;
  margin: 50px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn:hover {
  background: #e6762e;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 70px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #222;
  font-size: 28px;
}

/* PRODUTOS */
.produtos {
  display: grid;
   grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTEÚDO DO CARD */
.card-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.card-content h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

/* botão sempre alinhado */
.card-content .btn {
  align-self: flex-start;
}

/* DEPOIMENTOS */
.depoimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 20px;
}

.depoimento {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 300px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  font-style: italic;
}

.depoimento strong {
  display: block;
  margin-top: 10px;
  font-style: normal;
  color: #ff8c42;
}

/* FOOTER */
footer {
  background: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  line-height: 1.8;
}

/* ANIMAÇÃO */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: #1a1a1a;
    position: absolute;
    top: 60px;
    right: 0;
    width: 220px;
    padding: 15px;
  }

  .produtos{
    display: flex;
    flex-direction: column  ;
  }

  nav a {
    padding: 10px 0;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }
}